# ignore build directories
build/
install/
bench-build/
bench-results/

.vscode


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# common artifacts of my testing of halo
test/bench/c/jfk_1963_0626_berliner.ogg
test/oggenc
favorites/
__pycache__
pdfs/
*.csv
