[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/halo-project/llvm.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/halo-project/benchmark.git
[submodule "rllib"]
	path = rllib
	url = https://github.com/halo-project/RLlib.git
